<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>
  <form action="/students/<%= name %>?_method=PUT" method="POST">
  <p>
    <label for="newName">Student Name: </label>
    <input type="text" id="newName" name="newName" value="<%= name %>"autofocus required>
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>
</body>
</html>